In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../carsdata/used_car_dataset.csv')
df1.head(3)

C:\Users\CYRILLE\AppData\Local\Temp\ipykernel_11076\1421936709.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('../carsdata/used_car_dataset.csv')

,Unnamed: 0,publication_datetime,publication_history,location,provider,manufacturer,model,note,price_sek,price_history,...,electric_range_km,number_of_seats,car_type,length_mm,width_mm,height_mm,load_capacity_kg,empty_weight_kg,total_weight_kg,url
0,0,2021-03-17 00:00:00,NaN,Nora,RS Bilar AB,Peugeot,207,CC 1.6 VTi 120hk/ Endast 2 brukare,49900,NaN,...,NaN,NaN,Cab,NaN,NaN,NaN,NaN,NaN,NaN,/orebro/peugeot_207_cc_1_6_vti_120hk__endast_2...
1,1,2021-03-17 00:00:00,NaN,Ale,Auto Center West AB,Opel,Meriva,"1.3 CDTI, PDC Fram och Bak",79500,NaN,...,NaN,NaN,hatchback,NaN,NaN,NaN,NaN,NaN,NaN,/alvsborg/opel_meriva_1_3_cdti__pdc_fram_och_b...
2,2,2021-03-20 00:00:00,NaN,Ronneby,Maree s Bilar AB,BMW,M5,Sedan Automat 560hk V-Max S-såld Taklucka,309900,NaN,...,NaN,NaN,Sedan,NaN,NaN,NaN,NaN,NaN,NaN,/blekinge/bmw_m5_sedan_automat_560hk_v_max_s_s...

In [3]:
df1.shape

(134243, 33)

In [4]:
df1.columns

Index(['Unnamed: 0', 'publication_datetime', 'publication_history', 'location',
       'provider', 'manufacturer', 'model', 'note', 'price_sek',
       'price_history', 'entry_year', 'fuel', 'mileage_km', 'transmission',
       'type_of_drive', 'horse_power', 'engine_size_ccm', 'top_speed_km_h',
       'emission_class', 'co2_emission_g/km', 'test_prozedure',
       'fuel_consumption_mixed_l_100km', 'fuel_consumption_highway_l_100km',
       'electric_range_km', 'number_of_seats', 'car_type', 'length_mm',
       'width_mm', 'height_mm', 'load_capacity_kg', 'empty_weight_kg',
       'total_weight_kg', 'url'],
      dtype='object')

In [5]:
df1 = df1[['publication_datetime', 'publication_history', 'location',
       'provider', 'manufacturer', 'model', 'note', 'price_sek',
       'price_history', 'entry_year', 'fuel', 'mileage_km', 'transmission',
       'type_of_drive', 'horse_power', 'engine_size_ccm', 'top_speed_km_h',
       'emission_class', 'co2_emission_g/km',
       'fuel_consumption_mixed_l_100km', 'fuel_consumption_highway_l_100km',
       'electric_range_km','car_type']]
df1.shape

(134243, 23)

In [6]:
import plotly_express as px
a = df1.groupby(['fuel']).agg({'model':'count'}).reset_index().sort_values(by='model', ascending=False)

px.histogram(a, x='fuel', y='model')

In [7]:
df1.groupby(['fuel']).agg({'electric_range_km':'count'}).reset_index().sort_values(by='electric_range_km', ascending=False)

       fuel  electric_range_km
2    hybrid                660
1  electric                289
3    petrol                 13
0    diesel                  1

In [8]:
df1.groupby(['model'], as_index=False).agg({'provider':'count'}).sort_values(by='provider', ascending=False)

                      model  provider
3417                   XC60      3492
3226                    V60      2891
3232                    V70      2301
1856                   GOLF      2267
3237                    V90      2195
...                     ...       ...
2644                 Polara         1
823        BMW 330D TOURING         1
2642                   Pixo         1
824   BMW 330D XDRIVE COUPE         1
2828           S3 CABRIOLET         1

[3618 rows x 2 columns]

In [9]:
df1.groupby(['car_type']).agg({'model':'count'})

            model
car_type
Cab          2961
Coupé        3649
SUV         28588
Sedan        9851
commercial   9090
estate car  36408
hatchback   23076
small          14
van          3095

In [10]:
most_expensive = df1.groupby(['manufacturer', 'model', 'provider']).agg({'price_sek':'max'}).reset_index().sort_values(by='price_sek', ascending=False)
most_expensive

        manufacturer       model                    provider  price_sek
71874          Volvo         245         Blocket Testkonto 2   25000001
5792            Audi         RS6                Loyalty Cars    9999999
3828            Audi          A8            Mellinger Bil AB    9800000
19729        Ferrari         599           Daytona Automobil    9150000
12494            BMW          M1        Förenade Bil i Malmö    9000000
...              ...         ...                         ...        ...
35274  Mercedes-Benz         190  Auto Classica of Sweden AB          0
28030         Jaguar  XK 140 DHC  Auto Classica of Sweden AB          0
54461    Rolls-Royce      Silver           Classic Garage AB          0
10274            BMW        520D               Budiauktioner          0
23831           Ford       S-Max                   Bilcenter          0

[80751 rows x 4 columns]

In [11]:
df1[df1['model'].notnull()].count()

publication_datetime                134243
publication_history                  33874
location                            133805
provider                            134243
manufacturer                        134243
model                               134243
note                                133671
price_sek                           134243
price_history                        33885
entry_year                          134243
fuel                                133981
mileage_km                          134243
transmission                        130463
type_of_drive                       117367
horse_power                         115058
engine_size_ccm                      72110
top_speed_km_h                       73306
emission_class                       61834
co2_emission_g/km                    19262
fuel_consumption_mixed_l_100km       70854
fuel_consumption_highway_l_100km     66892
electric_range_km                      969
car_type                            116732
dtype: int64

In [12]:
df1['provider'].nunique()

2999

In [13]:
brand = df1.groupby(['manufacturer']).agg({'model': 'count'}).reset_index().sort_values(by="model", ascending=False)
brand['model'].sum()
brand

      manufacturer  model
157          Volvo  19748
156     Volkswagen  17296
19             BMW  12321
101  Mercedes-Benz  10997
12            Audi   9404
..             ...    ...
24         British      1
125          Riley      1
21             Bmc      1
130          Scion      1
0               4P      1

[166 rows x 2 columns]

In [14]:
dealers_emission = df1.groupby(['provider']).agg({'model': 'count'}).reset_index().sort_values(by="model", ascending=False)
dealers_emission

                                            provider  model
1357                                       Hedin Bil   1801
2285  Riddermark Bil - Transportbilscenter Stockholm    909
259                                         Autohero    867
1691                                  Kvdbil Kungälv    808
2292             Riddermark Bil, Veddesta - Järfälla    771
...                                              ...    ...
1548                               Jakobssons Bil AB      1
1552                               Janson Larsson AB      1
2877                     Yamaha Center i Helsingborg      1
2878                          Yamahacenter Stockholm      1
0                                              08Bil      1

[2999 rows x 2 columns]

In [27]:
df1.head()

,publication_datetime,publication_history,location,provider,manufacturer,model,note,price_sek,price_history,entry_year,...,type_of_drive,horse_power,engine_size_ccm,top_speed_km_h,emission_class,co2_emission_g/km,fuel_consumption_mixed_l_100km,fuel_consumption_highway_l_100km,electric_range_km,car_type
0,2021-03-17 00:00:00,NaN,Nora,RS Bilar AB,Peugeot,207,CC 1.6 VTi 120hk/ Endast 2 brukare,49900,NaN,2008,...,two-wheel drive,120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cab
1,2021-03-17 00:00:00,NaN,Ale,Auto Center West AB,Opel,Meriva,"1.3 CDTI, PDC Fram och Bak",79500,NaN,2011,...,two-wheel drive,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hatchback
2,2021-03-20 00:00:00,NaN,Ronneby,Maree s Bilar AB,BMW,M5,Sedan Automat 560hk V-Max S-såld Taklucka,309900,NaN,2005,...,two-wheel drive,508.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sedan
3,2021-03-20 00:00:00,NaN,Norrköping,BilByter AB,Hyundai,i20,1.0 T-GDI 100hk Mild Hybrid Essential,186400,NaN,2022,...,two-wheel drive,101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hatchback
4,2021-03-20 00:00:00,NaN,Hisingen,Göte Carlsson i Göteborg AB,Opel,Combo-e,Kampanj Premium L2 50KW 136hk,538130,NaN,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df1['entry_year'].max()
df22 = df1[df1['entry_year'] == 2021]
df2 = df1.groupby(['entry_year']).agg({'co2_emission_g/km':'sum', 'model':'count'}).reset_index()
df2

    entry_year  co2_emission_g/km  model
0         1900                0.0      3
1         1920                0.0      1
2         1922                0.0      1
3         1925                0.0      2
4         1927                0.0      1
..         ...                ...    ...
93        2020           165741.0   7454
94        2021           119781.0   7556
95        2022            71966.0  13888
96        2023                0.0   3045
97        2040                0.0      1

[98 rows x 3 columns]